:root {
    --pop-color: #eaff00;
    --pop-color-hover: #eaff00;
    --theme-background: #eee;
    --theme-text: #000;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--theme-background);
    color: var(--theme-text);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding-inline: 1rem;
    border-bottom: 1px solid #a9a9a9;
    background-color: #000;
    position: relative;
    z-index: 100;
}

header a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    position: relative;
    display: flex;
    align-items: center;
}

/* First child = site name */
header>div a {
    font-size: xx-large;
}

#firstName {
    font-weight: 900;
}

/* Navigation links */
header a:not(:first-child) {
    font-size: large;
}

/* Underline animation */
header a:not(:first-child)::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 6px;
    left: 0;
    background-color: var(--pop-color);
    transition: transform 0.25s ease-out;
}

header a:not(:first-child):hover {
    color: var(--pop-color-hover);
}

header a:not(:first-child):hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

header a:not(:first-child):active {
    color: var(--pop-color);
}

header a:not(:first-child):active::after {
    transform: scaleX(0.5);
}

/* Hamburger toggle */
header label {
    display: none;
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

header input[type="checkbox"] {
    display: none;
}

@media (max-width: 750px) {
    header {
        justify-content: space-between;
    }

    header a:not(:first-child) {
        display: none;
    }

    header label {
        display: block;
    }

    header input[type="checkbox"]:checked~a {
        display: block;
        width: 100%;
        text-align: left;
        background-color: #fff;
        border-top: 1px solid #a9a9a9;
    }

    header {
        flex-wrap: wrap;
    }

    header>div {
        flex: 1;
    }

    header input[type="checkbox"]:checked~a {
        padding: 1rem;
    }
}

main {
    background-color: var(--theme-background);
    padding: 1rem;
}

.featureContent {
    width: min(800px, 100% - 2rem);
    margin: auto;
    padding: 1rem;
}

#about {
    width: min(1000px, 100% - 2rem);
    margin-inline: auto;
    padding-block: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}

@media (max-width: 750px) {
    #about {
        flex-direction: column;
    }
}

.italics {
    font-style: italic;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-inline: 20px;
}